@import "../mixins.less";
.beyond_loading(@prefix){
    .@{prefix}loading{
        font-size:14px;
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index:99999;
        display: flex;
        justify-content: center;
        align-items: center;
        &>&-content{
            padding: 1.5em 0;
            width: 40%;
            max-width: 150px;
            text-align: center;
            background:rgba(0, 0, 0, 0.7);
            border-radius:1em;
            img{
                width: 40%;
                height: auto;
                animation:beyondrotate 2s linear infinite;
            }
        }
        & &-message{
            color:#ffffff;
            margin: 0.5em 0.8em 0 0.8em;
        }
        @keyframes beyondrotate{
            0% {transform:rotate(0deg)}
            100% {transform:rotate(360deg)}
        }     
    }

}

