@import "../../src/Modal/mixin";
@import "../../src/Grid/mixin";
@import "../../src/Tabs/mixin";
@import "../../src/Tooltip/mixin";
@import "../../src/Notification/mixin";
@import "../../src/Loading/mixin";

.beyond_modal(example);
.beyond_grid(example);
.beyond_tabs(example);
.beyond_tooltip(example);
.beyond_notification(example);
.example{
	&modal-header{
		background: black;
	}
	&modal-title{
		color: white;
	}
	&row>&col{
		border-color  : gold!important;
	}
	&tabs &tabs-pane{
		background: #ccc;
	}

	&tooltip-content{
		color: pink;
		padding: 20px!important;
	}
	&tooltip-triangle{
		&:before{
			// border-
		}
	}

	&notification-content{
		background: pink!important;
		color: white;
	}

}


.app{
	color: grey;
	padding-top: 50px;
	padding-bottom: 50px;
	position:relative;
}

.sidebar{
	position: fixed;
	left: 0;
	top: 20px;
	width: 280px;
	>a{
		display: block;
	}
}

.main{
	margin-left: 280px;
}


[class$=col]{
	border: 1px solid pink;
}

.red{
	color: orangered;
}

.tooltip-btn{
	padding: 5px;
	margin-right: 10px;
	background: yellowgreen;
}