@import "../mixins.less";
.beyond_searchSelector(@globalPrefix) {
    @prefix : ~"@{globalPrefix}search-selector";
    @height : 36px;
    .@{prefix}{
        box-sizing: border-box;
        position:relative;
        font-size: 14px;
        width: 240px;
        color:black;
        input{
            font-size: inherit;
            height:@height;
            padding:0px 10px;
            width:100%;
            box-sizing: border-box;
            border:none;
            outline: none;
            color:black;
            border: 1px solid #d9dade;
            border-top: none;
            border-bottom: none;
            // outline:0 none !important;// blr:expression(this.onFocus=this.blur());         
        }      

        .@{prefix}-text{
            height:@height;
            line-height: @height;
            border: 1px solid #d9dade;
            // border-bottom:none;
            box-sizing: border-box;
            padding:0 10px;
            position:relative;
            cursor: pointer;
            background-color:#fff;
            &:after{
                content:'';
                display:inline-block;
                position:absolute;
                top:15px;
                right:10px;
                width:0;
                height:0;
                border-style: solid;
                border-color:transparent;
                border-width:5px 3px;
                border-top-color:black;
            }
            
        }
        .@{prefix}-input{
            position:relative;
        }
        .@{prefix}-icon-container{
            position:absolute;
            right:0px;
            top:0px;
        }
        .@{prefix}-icon-container img{
            display: block;
            padding:10px 10px;
            height:16px;
        }
        .@{prefix}-options-wrap{
            position: absolute;
            left: 0;
            top:100%;     
            width: 100%;        
            z-index:9999;  
        }
        .@{prefix}-options,.@{prefix}-tip{    
            width: 100%;
            box-sizing: border-box;
            white-space: nowrap;//长度大小根据内容多少而定
            overflow-y: auto;//自动出现滚动条
            border: 1px solid #d9dade;
            border-top:none;
           
            background-color:#fff;
        }
        .@{prefix}-tip{
            height:@height;
            line-height: @height;
            padding: 0 10px;
            overflow-y: hidden;
        }
        .@{prefix}-option{
            height:@height;
            line-height: @height;
            position: relative;
            padding: 0 10px;
            cursor: pointer;
            img{
                vertical-align: middle;
                position:absolute;
                right:0px;
                top:50%;
            }        
        }
        .active{
            background:#eeeeee;
        }
        .@{prefix}-option:hover{
            background:#eeeeee;
            
        }
    }
    // .@{prefix}-arrowDown{
    //     &:after{
    //         content:' ';
    //         display:inline-block;
    //         position:absolute;
    //         top:20px;
    //         right:10px;
    //         width:0;
    //         height:0;
    //         border-style: solid;
    //         border-color:transparent;
    //         border-width:5px 3px;
    //         border-top-color:black;
    //     }   
    // }
    // .@{prefix}-arrowUp{
    //     &:after{
    //         content:' ';
    //         display:inline-block;
    //         position:absolute;
    //         top:15px;
    //         right:10px;
    //         width:0;
    //         height:0;
    //         border-style: solid;
    //         border-color:transparent;
    //         border-width:5px 3px;
    //         border-bottom-color:black;

    //     }     
    // }
}